<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 p-3">
      <h4>Segment Header text</h4>
      <p>Dolor nobis reiciendis assumenda voluptatem animi voluptas adipisci. Maxime reprehenderit ullam non esse eaque? Corrupti deleniti doloribus doloribus ipsum ab in ipsam. Qui inventore pariatur delectus beatae voluptate molestiae sequi.</p>
    </div>
    <div class="col-12 col-md-6 p-3">
      <h4>Segment Header text</h4>
      <p>Dolor nobis reiciendis assumenda voluptatem animi voluptas adipisci. Maxime reprehenderit ullam non esse eaque? Corrupti deleniti doloribus doloribus ipsum ab in ipsam. Qui inventore pariatur delectus beatae voluptate molestiae sequi.</p>
    </div>
  </div>
</div>
