<div class="row">
  <div class="col-12">
    <div class="card card-default position-relative inspectable">
      <!-- component-title: Active Users Table -->

      <div class="table-responsive">
        <table class="table table-hover table-striped">
					
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Date Taken</th>
        </tr>
        <% @score.each do |mark| %>
        <tr>
            <td><%= mark.quiz %></td>
            <td><%= mark.mark %></td>
            <td><%= mark.created_at %></td>
        </tr>
        <% end %>
    
          
        </table>
      </div>

    </div>
  </div>
</div>
