<% content_for :head do %>
  <%= javascript_include_tag "https://www.thomasfrank.se/sessvars.js" %>
<% end %>

<div class='container'>
    <div class="col-12 animate-fade-in-1000 container">
    <h1 id="header"> Quiz Results</h1>
    <div class="card card-default inspectable container">
    </div>
    </div>
</div>

<script>
  var wrong_answer = [];
  
  $( "#header" ).prepend(sessvars.Header.header);
  $("div.card").prepend("<h3>You got: <span id='mark'></span> out of " + sessvars.Questions.questionList.length + "</h3>");
  sessvars.Questions.questionList.forEach(function (question, index){
    $("div.card").append("<div><h6>Question " + ++index + "</h6><p>" + question[1] + "</p>Your answer: <span id='user_answer_" + index + "'></span><p id='correct_answer_" + index + "'></p></div>");
  });
  $("div.card").append("<a id='redo_test' href=''>Redo Test </a>")
  $("div.card").append("<a id='scores' href='/welcome/score'> See Scores</a>")
  
  console.log(sessvars.myAnswer.userAnswer);
  
  if (Array.prototype.equals) {
    console.warn('Overriding existing Array.prototype.equals. Possible causes: New API defines the method, there\'s a framework conflict or you\'ve got double inclusions in your code.');
  }
  Array.prototype.equals = function(array) {
    var correct, i, j, l;
    correct = true;
    if (!array) {
      correct = false;
    }
    if (this.length !== array.length) {
      correct = false;
    }
    i = 0;
    l = this.length;
    while (i < l) {
      if (this[i] instanceof Array && array[i] instanceof Array) {
        j = 0;
        if (this[i].length !== array[i].length) { //Check length of user answer is same with correct answer
          wrong_answer.push(i + 1);
          output = array[i].join(', ')
          $('#user_answer_' + (i + 1)).html(output);
          $('#user_answer_' + (i + 1)).append(" <span class='incorrect'>Unlucky!</span>");
          correct = false;
        } 
        else 
        {
          while (j < this[i].length) {
            if (this[i][j] !== array[i][j]) {
              correct = false;
              output = array[i].join(', ');
              $('#user_answer_' + (i + 1)).html(output);
              $('#user_answer_' + (i + 1)).append(" <span class='incorrect'>Unlucky!</span>");
            }
            j++;
          }
          if (correct) {
            output = array[i].join(', ');
            $('#user_answer_' + (i + 1)).html(output);
            $('#user_answer_' + (i + 1)).append(" <span class='correct'>Correct!</span>");
          }
        }
      } 
      else if (this[i] !== array[i])
      { 
        $('#user_answer_' + (i + 1)).html(array[i]);
        $('#user_answer_' + (i + 1)).append(" <span class='incorrect'>Unlucky!</span>");
        wrong_answer.push(i + 1);
        correct = false;
      } 
      else 
      {
        $('#user_answer_' + (i + 1)).html(array[i]);
        $('#user_answer_' + (i + 1)).append(" <span class='correct'>Correct!</span>");
      }
      i++;
    }
    return correct;
  };
  Object.defineProperty(Array.prototype, 'equals', {
    enumerable: false
  });
  
  var i;
  if (sessvars.myAnswer) {
    sessvars.Answer.correctAnswer.equals(sessvars.myAnswer.userAnswer)
    i = 0;
    while (i < sessvars.Answer.correctAnswer.length) {
      if ($("#user_answer_" + (i + 1)).text().indexOf('Unlucky!') > -1) {
        if (sessvars.Answer.correctAnswer[i] instanceof Array)
        {
          output = sessvars.Answer.correctAnswer[i].join(', ');
          $('#correct_answer_' + (i + 1)).html("Correct Answer: " + output);
        }
        else
        {
          $('#correct_answer_' + (i + 1)).html("Correct Answer: " + sessvars.Answer.correctAnswer[i]);
        }
      }
      i++;
    }
    var mark = $("div.card").html().match(/correct!/gi).length;
    $("#mark").text(mark);
    
    var name = sessvars.Header.header;
    var result = mark;
//     $.ajax({
//       url: "/mark",
//       type: "POST",
//       data: {quiz: name, mark: result},
//       success: function (data) {
//         console.log('Saved Successfully');
//       },
//       error:function(){
//        alert('Error');
//       }
//     });
    console.log("Not yet deleted");
    console.log(sessvars.Header.header);
    sessvars.$.clearMem();
    console.log("Deleted");
    console.log(sessvars.Header.header);
  };

  $('#redo_test').click(function() {
    window.location.href = document.referrer;
  });
</script>