<div class='container'>
    <h1>Your Quiz Scores</h1>
    <div class='container'>
    <table>
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Date Taken</th>
        </tr>
        <% @score.each do |mark| %>
        <tr>
            <td><%= mark.quiz %></td>
            <td><%= mark.mark %></td>
            <td><%= mark.created_at %></td>
        </tr>
        <% end %>
    </table>
    </div>
</div>