<div class="container">
<h1>Year 7 HaSS</h1>
	<h4>
		Click Geography
	</h4>



<div class="row container">
<% @subjects.each do |subject| %>
  <div class="col-12 col-md-12 col-lg-12 animate-drop-fade">
    <div class="card card-mini  inspectable">
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
          </div>
          <a href="/year7hass/<%= subject.downcase.gsub(/\s+/, "") %>">
          <div class="media-body text-left">
            <h4 class="m-0 text-muted"><%= subject%></h4>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
	<%= link_to('Home', welcome_dashboard_path, class: "btn btn-success ml-auto btn-xlarge") %>
</div>
</div>
