<div class="row">
  <div class="col-12 col-md-6 col-lg-3 animate-drop-fade">
    <div class="card card-mini  inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span>
              <%= theme_icon_tag "world", class: "display-4" %>
            </span>
          </div>
          <div class="media-body text-right">
            <h4 class="m-0 counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="80">0</h4>
            <h6 class="m-0 text-muted">Page Hits</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3 animate-drop-fade">
    <div class="card card-mini inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span>
              <%= theme_icon_tag "shopping-cart", class: "display-4" %>
            </span>
          </div>
          <div class="media-body text-right">
            <h4 class="m-0 counter" data-from="0" data-to="1231" data-speed="500" data-refresh-interval="80">0</h4>
            <h6 class="m-0 text-muted">Total Sales</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3 animate-drop-fade">
    <div class="card card-mini inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span>
              <%= theme_icon_tag "money", class: "display-4" %>
            </span>
          </div>
          <div class="media-body text-right">
            <h4 class="m-0 cash-counter" data-from="0" data-to="151231" data-speed="500" data-refresh-interval="80">0</h4>
            <h6 class="m-0 text-muted">Total Revenue</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3 animate-drop-fade">
    <div class="card card-mini inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span>
              <%= theme_icon_tag "user", class: "display-4" %>
            </span>
          </div>
          <div class="media-body text-right">
            <h4 class="m-0 counter" data-from="0" data-to="23312" data-speed="500" data-refresh-interval="50">0</h4>
            <h6 class="m-0 text-muted">Total Users</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
