<div class="row">
  <div class="col-12 col-md-12 col-lg-12 animate-drop-fade">
    <div class="card card-mini  inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span>
              <%= theme_icon_tag "ruler", class: "display-4" %>
            </span>
          </div>
          <a href="/maths">
          <div class="media-body text-left">
            <h4 class="m-0 text-muted">Mathematics</h4>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-12 animate-drop-fade">
    <div class="card card-mini  inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span>
              <%= theme_icon_tag "rocket", class: "display-4" %>
            </span>
          </div>
          <a href="/science">
          <div class="media-body text-left">
            <h4 class="m-0 text-muted">Science</h4>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-12 animate-drop-fade">
    <div class="card card-mini inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span>
              <%= theme_icon_tag "bookmark-alt", class: "display-4" %>
            </span>
          </div>
          <a href="/english">
          <div class="media-body text-left">
            <h4 class="m-0 text-muted">English</h4>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-12 animate-drop-fade">
    <div class="card card-mini inspectable">
      <!-- component-title: Mini Card -->
      <div class="card-body">
        <div class="media">
          <div class="d-flex align-self-center mr-3">
            <span>
              <%= theme_icon_tag "world", class: "display-4" %>
            </span>
          </div>
          <a href="/hass">
          <div class="media-body text-left">
            <h4 class="m-0 text-muted">HaSS</h4>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
