  <div class="row">
    <div class="col-12">
      <div class="card card-default inspectable">
        <!-- component-title: Gmaps Card -->
        <div class="card-header">
          <h6>ONLINE USERS</h6>
        </div>
        <div id="gmapDemo" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
  </div>