<h5>BILLING DETAILS</h5>
<div class="d-flex align-items-center mb-4">
  <img src="<%= asset_path('rrt/creditcards/visa.png') %>" />
  <p class="m-0 ml-3"><strong>Visa</strong> card ending in 1234.</p>
  <button class="btn btn-outline-primary ml-auto">Update Card</button>
</div>
<table class="table table-responsive-sm">
  <thead>
    <th>Invoice Period</th>
    <th>Amount</th>
    <th></th>
  </thead>
  <tbody>
  <tr>
    <td>
      <a href="javascript:">January 2017</a>
    </td>
    <td>
      $9.00 USD
    </td>
    <td class="text-right">
      <a href="#">Download</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="javascript:">February 2017</a>
    </td>
    <td>
      $9.00 USD
    </td>
    <td class="text-right">
      <a href="javascript:">Download</a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="javascript:">March 2017</a>
    </td>
    <td>
      $9.00 USD
    </td>
    <td class="text-right">
      <a href="javascript:">Download</a>
    </td>
  </tr>
  </tbody>
</table>
