<h5>PLAN</h5>
<p>Your current plan is highlighted below, and you can change at any time.</p>
<div class="plan-selector">
  <form action="">
    <div class="form-check">
      <label class="custom-control custom-radio">
        <input name="plan-level" type="radio" class="custom-control-input" checked>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description d-flex w-100">
          <div class="details">
            <div class="plan-name">Indie</div>
            <div class="plan-description">10 projects, 500MB storage</div>
          </div>
          <div class="price">
            $9/mo
          </div>
        </span>
      </label>
    </div>
    <div class="form-check">
      <label class="custom-control custom-radio">
        <input name="plan-level" type="radio" class="custom-control-input">
        <div class="highlight"></div>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description d-flex w-100">
          <div class="details">
            <div class="plan-name">Basic</div>
            <div class="plan-description">20 projects, 1500MB storage</div>
          </div>
          <div class="price">
            $19/mo
          </div>
        </span>
      </label>
    </div>
    <div class="form-check">
      <label class="custom-control custom-radio">
        <input name="plan-level" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description d-flex w-100">
          <div class="details">
            <div class="plan-name">Pro</div>
            <div class="plan-description">30 projects, 2500MB storage</div>
          </div>
          <div class="price">
            $29/mo
          </div>
        </span>
      </label>
    </div>
    <div class="form-check">
      <label class="custom-control custom-radio">
        <input name="plan-level" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description d-flex w-100">
          <div class="details">
            <div class="plan-name">Master</div>
            <div class="plan-description">100 projects, Unlimited storage</div>
          </div>
          <div class="price">
            $49/mo
          </div>
        </span>
      </label>
    </div>
  </form>
  <div class="actions d-flex">
    <button class="btn btn-success ml-auto">Save Changes</button>
  </div>
</div>
