
<h5 class="mb-4">PROFILE</h5>
<form>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Enter email" value="Johnny Appleseed">
  </div>
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" placeholder="Enter email" value="johnny@appleseed.com">
  </div>
  <div class="form-group">
    <label>Timezone</label>
    <div>
      <select class="custom-select w-100" id="user_time_zone">
        <option value="Hawaii">(GMT-10:00) Hawaii</option>
        <option value="Alaska">(GMT-09:00) Alaska</option>
        <option value="Pacific Time (US &amp; Canada)"> (GMT-08:00) Pacific Time (US &amp; Canada) </option>
        <option value="Arizona">(GMT-07:00) Arizona</option>
        <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
        <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
        <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
        <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
        <option value="" disabled="disabled">-------------</option>
        <option value="American Samoa">(GMT-11:00) American Samoa</option>
        <option value="International Date Line West">(GMT-11:00) International Date Line West</option>
        <option value="Midway Island">(GMT-11:00) Midway Island</option>
        <option value="Tijuana">(GMT-08:00) Tijuana</option>
        <option value="Chihuahua">(GMT-07:00) Chihuahua</option>
        <option value="Mazatlan">(GMT-07:00) Mazatlan</option>
        <option value="Central America">(GMT-06:00) Central America</option>
        <option value="Guadalajara">(GMT-06:00) Guadalajara</option>
        <option value="Mexico City">(GMT-06:00) Mexico City</option>
        <option value="Monterrey">(GMT-06:00) Monterrey</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label>Street &amp; Number</label>
    <input type="text" class="form-control" placeholder="Street & Number" value="5th Avenue 3053">
  </div>
  <div class="form-group">
    <label>City</label>
    <input type="text" class="form-control" placeholder="City" value="San Francisco">
  </div>
  <div class="form-group">
    <label>ZIP</label>
    <input type="text" class="form-control" placeholder="ZIP" value="3352">
  </div>
  <div class="form-group">
    <label>New password</label>
    <input type="password" class="form-control">
  </div>
  <div class="form-group">
    <label>Confirm new password</label>
    <input type="password" class="form-control">
  </div>
  <div class="form-group">
    <label>Current password</label>
    <input type="password" class="form-control">
  </div>
  <div class="form-group d-flex">
    <input type="submit" class="btn btn-success ml-auto" value="Save changes">
  </div>
</form>
