<h5>SUPPORT</h5>
<div class="container">
  <div class="row mb-4">
    <div class="col-12">
      <div class="form-group">
        <label for="exampleFormControlInput1" class="d-flex align-items-center"><h6 class="mr-auto">Search Knowledge Base</h6><p class="small text-muted m-0">2,121 articles</p></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Type your question here...">
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12">
      <div class="d-flex align-items-center">
        <h6 class="mr-auto">Recent Support Forum Activity</h6>
        <a href="javascript:" class="btn btn-link small m-0">Visit Forum &rarr;</a>
      </div>
      <table class='table table-responsive-sm'>
        <thead>
          <th>
            Thread Title
          </th>
          <th>
            Date Opened
          </th>
          <th>
            Last Activity
          </th>
        </thead>
        <tr>
          <td>
            <a href="javascript:">How do I install this on Windows?</a>
          </td>
          <td>
            2 days ago
          </td>
          <td>
            10 mins ago
          </td>
        </tr>
        <tr>
          <td>
            <a href="javascript:">Error opening main screen...</a>
          </td>
          <td>
            2 days ago
          </td>
          <td>
            10 mins ago
          </td>
        </tr>
        <tr>
          <td>
            <a href="javascript:">Colossus demands to know my location?</a>
          </td>
          <td>
            2 days ago
          </td>
          <td>
            10 mins ago
          </td>
        </tr>
        <tr>
          <td>
            <a href="javascript:">Reticulating splines is taking too long!</a>
          </td>
          <td>
            2 days ago
          </td>
          <td>
            10 mins ago
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
