<div class="container">
  <div class="row">
    <div class="col-12 d-flex flex-wrap align-items-center justify-content-between">
      <div class="cta-body">
        <h5 class="m-0">Try it for free</h5>
        <p class="lead m-0">Already using MyApp? <a href="#">Sign in.</a></p>
      </div>
      <a class="btn btn-primary btn-lg text-uppercase d-table" href="javascript:">Get Started</a>
    </div>
  </div>
</div>
