<div class="container">
  <h2 class="text-center header-separator mt-4">Our Amazing Partners</h2>
  <p class="text-center lead text-uppercase mb-5">Ipsum aliquam optio est maxime quam. Neque tempore voluptas a veritatis.</p>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="media mb-4">
        <i class="d-flex mr-3 ti-eye h2"></i>
        <div class="media-body">
          <h5 class="mt-0">Feature 1</h5>
          <p class="small">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="media mb-4">
        <i class="d-flex mr-3 ti-hand-stop h2"></i>
        <div class="media-body">
          <h5 class="mt-0">Feature 2</h5>
          <p class="small">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="media mb-4">
        <i class="d-flex mr-3 ti-info h2"></i>
        <div class="media-body">
          <h5 class="mt-0">Feature 1</h5>
          <p class="small">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="media mb-4">
        <i class="d-flex mr-3 ti-ticket h2"></i>
        <div class="media-body">
          <h5 class="mt-0">Feature 1</h5>
          <p class="small">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="media">
        <i class="d-flex mr-3 ti-panel h2"></i>
        <div class="media-body">
          <h5 class="mt-0">Feature 1</h5>
          <p class="small">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="media mb-4">
        <i class="d-flex mr-3 ti-bolt h2"></i>
        <div class="media-body">
          <h5 class="mt-0">Feature 1</h5>
          <p class="small">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
        </div>
      </div>
    </div>
  </div>
</div>
