<div class="container">
  <div class="row">
    <div class="col-12 d-flex flex-column flex-wrap align-items-center justify-content-center p-5">
      <div class="border border-info border-2x btn-lg text-uppercase">
        <h4 class="m-0">Made with <%= theme_icon_tag "heart" %> in Victoria, BC</h4>
      </div>
      <h6 class="text-center pt-5">Ipsum soluta labore! Assumenda!</h6>
      <div class="btn btn-success">Sign up Now</div>
    </div>
  </div>
</div>
