<div class="container">
  <div class="row no-gutter bg-dark">
    <div class="col-12 d-flex flex-wrap align-items-center justify-content-between p-5">
      <div class="text-white">
        <h2 class="m-0">Sign up to our Mailing list</h2>
        <p class="m-0 lead text-muted">Stay up to date with all the latest announcements</p>
      </div>
      <form class="d-flex flex-column align-items-center justify-content-end">
        <div class="input-group">
					<input type="email" class="form-control text-white text-focus-dark" placeholder="your email address">
					<span class="input-group-btn">
						<button class="btn btn-info" type="button">Subscribe now</button>
					</span>
				</div>
      </form>
    </div>
  </div>
</div>
