<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mr-md-auto ml-md-auto text-center">
      <img src="<%= image_path('rrt/pyrrmid_200.png') %>" width="200" height="200" class="mt-3 mb-3">
      <h3>Introducing a new way to excel</h3>
      <p class="lead">Caustic soda polygon window ultiamte inversion.</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-10 ml-md-auto mr-md-auto">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <div class="media-body">
                <h6 class="mt-0">Feature 1</h6>
                <p class="">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <div class="media-body">
                <h6 class="mt-0">Feature 2</h6>
                <p class="">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <div class="media-body">
                <h6 class="mt-0">Feature 3</h6>
                <p class="">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <div class="media-body">
                <h6 class="mt-0">Feature 4</h6>
                <p class="">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
