<div class="container">
  <div class="row no-gutter bg-dark">
    <div class="col-12">
      <div class="d-flex flex-column flex-wrap align-items-center justify-content-center text-white p-5">
        <h1 class="mb-5">PYRMID Help Desk</h1>
        <input type="text" class="form-control form-control-lg bg-white border-white text-focus-dark" placeholder="Enter your search query">
        <p class="small text-white">Need inspiration? Try the following: <strong>How do I get started?, Are refunds available?, Who can close an account?</strong> </p>
      </div>
    </div>
  </div>
</div>
