<div class="container">
  <div class="row">
    <div class="col-12">
      <blockquote class="blockquote text-center">
        <i class="display-1 ti-quote-left text-muted"></i>
        <h3>This is the best Rails theme I have ever seen. Saves me so much time!</h3>
        <footer class="blockquote-footer"><%= random_avatar 24, "rounded-circle" %> Someone famous <cite title="Source Title">CTO SparkyFace Inc</cite></footer>
      </blockquote>
    </div>
  </div>
</div>
