<div class="container">
  <div class="row">
    <div class="col-12">
      <blockquote class="blockquote border-0">
        <i class="display-1 ti-quote-left text-muted"></i>
        <h3 class="text-center">This is the best Rails theme I have ever seen. Saves me so much time!</h3>
        <footer class="blockquote-footer text-center">Someone famous in <cite title="Source Title">CTO SparkyFace Inc</cite></footer>
      </blockquote>
    </div>
  </div>
</div>
