<div class="container content-block-2">
  <div class="row">
    <div class="co-12 col-md-5 mr-md-auto">
      <img src="//placeimg.com/600/400/any" class="rounded">
    </div>
    <div class="col-12 col-md-6">
      <h3>This is an awesome thing here</h3>
      <p class="lead">Amazing virtues of modern startup capitalism</p>
      <p>You won't believe what lorem facere maiores corporis architecto magnam sunt expedita et! Ut fuga numquam similique nesciunt dolor. Culpa necessitatibus numquam reprehenderit corporis accusantium numquam doloremque sunt! Error in magnam ipsum temporibus minus.</p>
      <a class="btn btn-primary" href="javascript:"><%= theme_icon_tag "eye" %> Action 1</a>
      <a class="btn btn-success" href="javascript:"><%= theme_icon_tag "upload" %> Action 2</a>
    </div>
  </div>
</div>
