<div class="container">
  <div class="row no-gutter bg-dark">
    <div class="col-12">
      <div class="d-flex align-items-center justify-content-between flex-wrap p-5">
        <h2 class="text-white m-0">This is the best Rails theme in the world. </h2><a href="javascript:" class="btn btn-success">Buy Now</a>
      </div>
    </div>
  </div>
</div>
