<div class="container">
  <div class="row no-gutter" style="background-image: url(<%= image_path('rrt/stock/landscape_12.jpg') %>)">
    <div class="col-12 col-md-8 ml-md-auto mr-md-auto text-white p-5">
      <div class="media align-items-center">
        <i class="d-flex mr-3 display-1 border border-2x rounded-circle p-3 mb-3 ti-eye"></i>
        <div class="media-body">
          <h2 class="font-weight-bold">Reticulating Splines After Hours</h2>
          <p>Amet nihil facilis delectus reprehenderit corrupti atque minus sit ipsam officia assumenda sunt, obcaecati eum eos nobis reprehenderit. Natus velit cumque perspiciatis enim neque dolorem laudantium, commodi nisi voluptatum ratione.</p>
        </div>
      </div>
    </div>
  </div>
</div>
