<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h2 class="pt-5 text-center header-separator">A plan to fit every need.</h2>
      <p class="lead text-center pb-5">Select the plan that's right for you below, and you can be up and running in minutes.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="pricing-table-1">
        <h3 class="bg-dark text-center p-3 text-white m-0">Trial</h3>
        <header>
          <h4>FREE</h4>
          <p class="text-muted text-uppercase mb-0">Free, forever.</p>
        </header>
        <ul class="tiere-feature-list">
          <li>20 Users</li>
          <li>3 Archives</li>
          <li>5 Client Projects</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        </ul>
        <div class="bg-dark d-flex align-items-center justify-content-center p-3">
          <a href="#" class="btn btn-info">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="pricing-table-1">
        <h3 class="bg-dark text-center p-3 text-white m-0">Bronze</h3>
        <header>
          <h4>$15</h4>
          <p class="text-muted text-uppercase mb-0">per month</p>
        </header>
        <ul class="tiere-feature-list">
          <li>20 Users</li>
          <li>3 Archives</li>
          <li>5 Client Projects</li>
          <li>Unlimited Uploads</li>
          <li>&nbsp;</li>
        </ul>
        <div class="bg-dark d-flex align-items-center justify-content-center p-3">
          <a href="#" class="btn btn-info">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="pricing-table-1">
        <h3 class="bg-dark text-center p-3 text-white m-0">Gold</h3>
        <header>
          <h4>$25</h4>
          <p class="text-muted text-uppercase mb-0">Per Month</p>
        </header>
        <ul class="tiere-feature-list">
          <li>20 Users</li>
          <li>3 Archives</li>
          <li>5 Client Projects</li>
          <li>Unlimited Uploads</li>
          <li>Unlimited Cat Gifs</li>
        </ul>
        <div class="bg-dark d-flex align-items-center justify-content-center p-3">
          <a href="#" class="btn btn-info">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="pricing-table-1">
        <h3 class="bg-dark text-center p-3 text-white m-0">Platinum</h3>
        <header>
          <h4>$35</h4>
          <p class="text-muted text-uppercase mb-0">Per Month</p>
        </header>
        <ul class="tiere-feature-list">
          <li>200 Users</li>
          <li>300 Archives</li>
          <li>500 Client Projects</li>
          <li>Unlimited Uploads</li>
          <li>Unlimited Cat Gifs</li>
        </ul>
        <div class="bg-dark d-flex align-items-center justify-content-center p-3">
          <a href="#" class="btn btn-info">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
