<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h2 class="pt-5 text-center header-separator">A plan to fit every need.</h2>
      <p class="lead text-center pb-5">Select the plan that's right for you below, and you can be up and running in minutes.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="pricing-table-2">
        <header class="bg-dark">
          <h1 class="text-white m-0">$0</h2>
          <p class="text-muted text-uppercase mb-0">Free, forever.</p>
        </header>
        <h5 class="bg-gray-900 text-center p-3 text-white m-0">Trial</h5>
        <ul class="tiere-feature-list">
          <li>20 Users</li>
          <li>3 Archives</li>
          <li>5 Client Projects</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        </ul>
        <div class="bg-dark d-flex align-items-center justify-content-center p-3">
          <a href="#" class="btn btn-info p-4">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="pricing-table-2">
        <header class="bg-dark">
          <h1 class="text-white m-0">$5</h2>
          <p class="text-muted text-uppercase mb-0">Per Month</p>
        </header>
        <h5 class="bg-gray-900 text-center p-3 text-white m-0">Bronze</h5>
        <ul class="tiere-feature-list">
          <li>20 Users</li>
          <li>3 Archives</li>
          <li>5 Client Projects</li>
          <li>20 Cat Gifs</li>
          <li>&nbsp;</li>
        </ul>
        <div class="bg-dark d-flex align-items-center justify-content-center p-3">
          <a href="#" class="btn btn-info p-4">Buy Now</a>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-4">
      <div class="pricing-table-2">
        <header class="bg-dark">
          <h1 class="text-white m-0">$10</h2>
          <p class="text-muted text-uppercase mb-0">Per Month</p>
        </header>
        <h5 class="bg-gray-900 text-center p-3 text-white m-0">Gold</h5>
        <ul class="tiere-feature-list">
          <li>20 Users</li>
          <li>3 Archives</li>
          <li>5 Client Projects</li>
          <li>20 Cat gifs</li>
          <li>Unlimited Toots</li>
        </ul>
        <div class="bg-dark d-flex align-items-center justify-content-center p-3">
          <a href="#" class="btn btn-info p-4">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
