<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h2 class="pt-5 text-center header-separator">A plan to fit every need.</h2>
      <p class="lead text-center pb-5">Select the plan that's right for you below, and you can be up and running in minutes.</p>
    </div>
  </div>
  <div class="row equal-cols">
    <div class="col-12 col-md-4">
      <div class="pricing-table-3 shadow">
        <header class="">
          <h5 class="font-weight-bold text-center text-uppercase m-0">Trial</h5>
          <p class="text-muted text-uppercase mb-5">Lorem ipsum dolor sit amet.</p>
          <h1 class="font-weight-normal m-0 mb-4"><sup>$</sup><strong>0</strong><small>/mo</small></h2>
          <a href="#" class="btn btn-lg btn-info p-4">Start your Trial</a>
        </header>
        <ul class="tiere-feature-list">
          <li>20 Users</li>
          <li>3 Archives</li>
          <li>5 Client Projects</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="pricing-table-3 shadow">
        <header class="">
          <h5 class="font-weight-bold text-center text-uppercase m-0">Bronze</h5>
          <p class="text-muted text-uppercase mb-5">Lorem ipsum dolor sit amet.</p>
          <h1 class="font-weight-normal m-0 mb-4"><sup>$</sup><strong>10</strong><small>/mo</small></h2>
          <a href="#" class="btn btn-lg btn-info p-4">Start your Trial</a>
        </header>
        <ul class="tiere-feature-list">
          <li>20 Users</li>
          <li>3 Archives</li>
          <li>5 Client Projects</li>
          <li>5 Client Projects</li>
          <li>5 Client Projects</li>
        </ul>
      </div>

    </div>
    <div class="col-12 col-md-4">
      <div class="pricing-table-3 shadow">
        <header class="">
          <h5 class="font-weight-bold text-center text-uppercase m-0">Gold</h5>
          <p class="text-muted text-uppercase mb-5">Lorem ipsum dolor sit amet.</p>
          <h1 class="font-weight-normal m-0 mb-4"><sup>$</sup><strong>90</strong><small>/mo</small></h2>
          <a href="#" class="btn btn-lg btn-info p-4">Start your Trial</a>
        </header>
        <ul class="tiere-feature-list">
          <li>20 Users</li>
          <li>3 Archives</li>
          <li>5 Client Projects</li>
          <li>5 Client Projects</li>
          <li>5 Client Projects</li>
          <li>5 Client Projects</li>
        </ul>
      </div>
    </div>
  </div>
</div>
