<div class="container">
  <div class="row">
    <div class="col-12 col-md-7 ml-md-auto mr-md-auto text-center text-white mt-5 mb-5">
      <h1 class="text-shadow-light leading-normal">You'll never have to work again</h1>
      <p class="lead font-weight-medium mt-5 text-shadow-light">PYRMID is the ultimate in trans-human enhancement. Neural lace interface of the finest quality.</p>
      <a class="btn btn-lg btn-circle btn-outline-light text-white text-hover-dark" href="javascript:">Find out More</a>
    </div>
  </div>
</div>
