<div class="container">
  <div class="row">
    <h2 class="header-separator text-center col-12 my-4 mb-5">Can you believe these features?</h2>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <div class="bg-circle bg-primary-lightest text-white mb-4">
        <%= theme_icon_tag "eye", class: "display-1" %>
      </div>
      <h3>Amazing Feature</h3>
      <p>Ipsum aliquam earum nesciunt officia accusantium optio aliquid enim quasi numquam sunt autem? Omnis odio earum aspernatur reprehenderit ab? </p>
    </div>
    <div class="col-12 col-md-4 text-center">
      <div class="bg-circle bg-primary-lightest text-white mb-4">
        <%= theme_icon_tag "ticket", class: "display-1" %>
      </div>
      <h3>Amazing Feature</h3>
      <p>Ipsum aliquam earum nesciunt officia accusantium optio aliquid enim quasi numquam sunt autem? Omnis odio earum aspernatur reprehenderit ab? </p>
    </div>
    <div class="col-12 col-md-4 text-center">
      <div class="bg-circle bg-primary-lightest text-white mb-4">
        <%= theme_icon_tag "pulse", class: "display-1" %>
      </div>
      <h3>Amazing Feature</h3>
      <p>Ipsum aliquam earum nesciunt officia accusantium optio aliquid enim quasi numquam sunt autem? Omnis odio earum aspernatur reprehenderit ab? </p>
    </div>
  </div>
</div>
