<div class="row no-gutters equal-cols align-items-center">
  <div class="col-12 col-md-5">
    <img class="mb-3 mb-md-0" src="//placeimg.com/800/600" height="510px">
  </div>
  <div class="col-12 col-md-5 mx-md-auto">
    <h2 class="leading-normal">Ultime fantastic nightstand reproduction</h2>
    <p class="lead">Dolor obcaecati at nesciunt quibusdam sed nesciunt quibusdam repellendus, ab reprehenderit. Ea tempore voluptas esse qui eius consequuntur! </p>
    <a class="d-table btn btn-outline-primary btn-border-2x" href="javascript:">See the demo</a>

    <div class="row no-gutters mt-5">
      <div class="col-12 col-md-5">
        <h6 class="font-weight-normal">Cats on the roof</h6>
        <p class="small text-muted">Ipsum quaerat officia accusantium totam aliquid. Facere quaerat fugiat nostrum debitis officia? Tempore repudiandae eaque expedita quisquam nisi?</p>
      </div>
      <div class="col-12 col-md-5 ml-md-auto">
        <h6 class="font-weight-normal">Cats on the roof</h6>
        <p class="small text-muted">Ipsum quaerat officia accusantium totam aliquid. Facere quaerat fugiat nostrum debitis officia? Tempore repudiandae eaque expedita quisquam nisi?</p>
      </div>
    </div>
  </div>
</div>
