/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rrt
 *= require_tree .
 *= require_self
 *= require jquery-ui/sortable
 */

#sortable { list-style-type: none; margin: 0; padding: 0; width: 450px; clear: both;}
#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 2em; text-align: center;}
.center {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=text]
{
   border: 0;
   border-bottom: 1px solid #4682B4;
}

.rounded{
    border: 3px solid #4682B4;
    border-radius: 5px;
}

.sortable > h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.animate-fade-in-1000 > h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button[type=submit] {
  margin-bottom: 15px;
}

li.nav-item {
  margin: 10px 0px;
  clear: both;
}

a#back {
  margin-right: 5px;
}

.ui-sortable-handle {
  margin-bottom: 15px;
}

.correct{
  border-radius: 10px;
  padding: 8px;
  background-color: green;
  color: white;
}

.incorrect{
  border-radius: 10px;
  padding: 8px;
  background-color: red;
  color: white;
}

input[type=text].input-3 {
  display: inline-block;
  margin: 2em auto;
  border: none;
  padding: 0;
  width: 3.5ch;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 4ch 2px no-repeat;
  font: 2ch droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
}

input[type=text].input-4 {
  display: inline-block;
  margin: 2em auto;
  border: none;
  padding: 0;
  width: 5ch;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 5.5ch 2px no-repeat;
  font: 2ch droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
}

input[type=text].input-5 {
  display: inline-block;
  margin: 2em auto;
  border: none;
  padding: 0;
  width: 7.5ch;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 7ch 2px no-repeat;
  font: 2ch droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
}

input[type=text].input-6 {
  display: inline-block;
  margin: 2em auto;
  border: none;
  padding: 0;
  width: 9ch;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 8.5ch 2px no-repeat;
  font: 2ch droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
}

input[type=text].input-7 {
  display: inline-block;
  margin: 2em auto;
  border: none;
  padding: 0;
  width: 10.5ch;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 10ch 2px no-repeat;
  font: 2ch droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
}

input[type=text].input-8 {
  display: inline-block;
  margin: 2em auto;
  border: none;
  padding: 0;
  width: 12ch;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 11.5ch 2px no-repeat;
  font: 2ch droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
}

input:focus {
  outline: none;
  color: dodgerblue;
}

#fill_in_blanks{
  font-size: 1.7ch;
}

#redo_test{
  margin-right: 10px;
}