<nav class="navbar navbar-landing  navbar-expand-lg my-0">
  <a href="javascript:" class="navbar-brand"><%= image_tag image_path('rrt/pyrrmid_64.png'), width: 32, height: 32, class: 'mr-2'%>PYRMID</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#standardLandingNavbarWithSignupSignin" aria-controls="standardLandingNavbarWithSignupSignin" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="standardLandingNavbarWithSignupSignin">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="javascript:">HOME</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="javascript:">ABOUT</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="javascript:">TEAM</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="javascript:">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-sm btn-outline-primary" href="javascript:">SIGN IN</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-sm btn-primary text-white" href="javascript:">SIGN UP</a>
      </li>
    </ul>
  </div>
</nav>
