<nav class="navbar navbar-landing  navbar-centered navbar-expand-lg my-0">
  <a href="javascript:" class="navbar-brand d-lg-none"><%= image_tag image_path('rrt/pyrrmid_64.png'), width: 32, height: 32, class: 'mr-2'%>PYRMID</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#standardNavbarWithCenteredMenu" aria-controls="standardNavbarWithCenteredMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="standardNavbarWithCenteredMenu">
    <a href="javascript:" class="navbar-brand navbar-left d-sm-none d-md-none d-lg-block"><%= image_tag image_path('rrt/pyrrmid_64.png'), width: 32, height: 32, class: 'mr-2'%>PYRMID</a>
    <ul class="nav navbar-nav navbar-center">
      <li class="nav-item ">
        <a class="nav-link" href="javascript:">HOME</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="javascript:">ABOUT</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="javascript:">TEAM</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="javascript:">CONTACT</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="btn btn-sm btn-outline-primary" href="javascript:">SIGN IN</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-sm btn-primary text-white" href="javascript:">SIGN UP</a>
      </li>
    </ul>
  </div>
</nav>
