<header class="landing-header-1" style="background-image: url(<%= image_path('rrt/stock/landscape_13.jpg') %>)">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-landing  navbar-centered navbar-expand-lg my-3">
          <a href="javascript:" class="navbar-brand d-lg-none"><%= image_tag image_path('rrt/pyrrmid_64.png'), width: 32, height: 32, class: 'mr-2'%>PYRMID</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#standardLandingNavbarWithCenteredBrand" aria-controls="standardLandingNavbarWithCenteredBrand" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-white" id="standardLandingNavbarWithCenteredBrand">
            <ul class="nav navbar-nav navbar-left">
              <li class="nav-item ">
                <a class="nav-link" href="javascript:">HOME</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="javascript:">ABOUT</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="javascript:">TEAM</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="javascript:">CONTACT</a>
              </li>
            </ul>
            <a href="javascript:" class="navbar-brand navbar-center text-center d-none d-sm-none d-md-none d-lg-block"><%= image_tag image_path('rrt/pyrrmid_64.png'), width: 32, height: 32, class: 'mr-2'%>PYRMID</a>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <a class="btn btn-sm btn-outline-light text-white text-hover-dark" href="javascript:">SIGN IN</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-sm btn-primary" href="javascript:">SIGN UP</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="container header-caption">
    <div class="row">
      <div class="col-7 mr-auto ml-auto text-center">
        <div class="text-white">
          <h1 class="mt-5 font-weight-bold leading-tight">WELCOME TO THE NEW THING</h1>
          <p class="lead">Lorem ea sit vel laudantium numquam vel officiis impedit aliquam! Perspiciatis maiores veniam perspiciatis rem debitis.</p>
        </div>
        <a class="btn btn-primary text-white">SIGN UP</a>
        <a class="btn btn-outline-secondary text-white text-hover-dark">LEARN MORE</a>
      </div>
    </div>
  </div>

  <div class="container pt-5">
    <div class="col-12 col-md-11 mr-auto ml-auto pt-5">
      <div class="container features text-white">
        <div class="row text-center text-md-left text-lg-left">
          <div class="col-12 col-md-4 mb-4">
            <i class="d-block display-2 ti-eye mb-4 text-opacity-8"></i>
            <h6>ADVANCED FEATURES</h6>
            <p class="small">Consectetur inventore enim quia animi mollitia. Voluptates recusandae mollitia tenetur rerum maiores illum voluptates assumenda? </p>
          </div>
          <div class="col-12 col-md-4 mb-4">
            <i class="d-block display-2 ti-hand-stop mb-4 text-opacity-8"></i>
            <h6>ADVANCED FEATURES</h6>
            <p class="small">Consectetur inventore enim quia animi mollitia. Voluptates recusandae mollitia tenetur rerum maiores illum voluptates assumenda? </p>
          </div>
          <div class="col-12 col-md-4 mb-4">
            <i class="d-block display-2 ti-pulse mb-4 text-opacity-8"></i>
            <h6>ADVANCED FEATURES</h6>
            <p class="small">Consectetur inventore enim quia animi mollitia. Voluptates recusandae mollitia tenetur rerum maiores illum voluptates assumenda? </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
