<table border="0" cellpadding="10" cellspacing="0" width="100%">
  <tr>
    <td align="left" valign="top">
      <br />
      <br />
      <span class="applefix" style="font-family:Arial; font-size:14px; color:#888888;">
        <b>Our Address:</b><br />
        My App<br />
        123 Second Street<br />
        Anywhere Town, USA 45678
      </span>
      <br />
      <br />
    </td>
  </tr>
</table>